.wrapper{
    position: relative;
    width: 1440px;
    height: 800px;
    
    background: #E6F6FF;
}
.middle h2 {
	padding: 1rem;
	font-size: 1.5rem;
	text-align: center;
}
.middle p {
	padding: 0.2rem;
	font-size: 14px;
	text-align: center;
}
.logo {
	width: 50vw;
}

.container {
    box-sizing: border-box;

    position: absolute;
    width: 375px;
    height: 800px;
    left: 532px;
    top: 0px;

    /* BW/White */

    background: #FFFFFF;
}
.input_container {
    display: flex;
    justify-content: space-between; /* To increase the distance between input boxes */
}

.input_container input[type="text"] {
    width: 150px;  /* Increase input box size */
    border: 1px solid #429DDF; /* Make box border blue */
    border-radius: 50px;  /* Round the corners of the box */
    padding: 10px;  /* Add some padding inside the input box */
    margin: 8px ;  /* Add some margin outside the input box */
    text-align: center;
    font-size: 16px;
}

.best_worst_container{
    display: flex;
    justify-content: space-between;  
    width: 230px;
    margin-bottom: 30px;
    margin-left: 75px;
}
.best{
    font-family: 'NanumSquare Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #429DDF;
}
.worst{
    font-family: 'NanumSquare Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #ED6EB3;
}

.illust{
    background-color: gray;
}
.start__button {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 308px;
    height: 42px;
    left: calc(50% - 308px/2);
    top: 666px;
    background: #8CC2E9;
    border-radius: 20px;
    /* width: 111px;
    height: 22px; */
    font-family: 'NanumSquare Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.start__button:active {
	color: #fff;
	background-color: #429DDF;
	transform: scale(0.95);
	transition: 10ms;
	border: none;
}

.top {
    margin-top: 134px;
    margin-bottom : 10px;
}

.middle {
	height: 25vh;
    font-family: 'NanumSquare Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
}

.icon {
	margin-left: 6px;
}

.copy__button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.header {
	font-family: 'NanumSquare Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}


